.editor-bullet-list {
  list-style-type: disc; /* 원형 글머리 기호 */
  padding-left: 20px; /* 들여쓰기 */
}

.editor-ordered-list {
  list-style-type: decimal; /* 숫자 */
  padding-left: 20px; /* 들여쓰기 */
}


.editor-list-item {
  margin-bottom: 5px;
}