.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 0;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
.opened {
  width: 640px;
}
.sidebar nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #f6f8fa80;
  box-sizing: border-box;
}
.linkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background: #f6f8fa80;
  font-size: 14px;
  font-weight: 500;
}
.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}
.originArea {
  flex: 1;
}
.originArea iframe {
  height: 100vh;
  border: none;
}
